<!-- Header -->
{{> header }}

{{> minisearchform }}

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
			<h3 class="word sec-color">{{message "lang.entry-not-found.no-match"}} "{{ word.word }}"</h3>
			<p class="pri-color">{{message "lang.entry-not-found.suggest-text"}}</p>
			<hr />
			{{> submitwordform }}
			</div>
		</div>
	</div>
<section>

<!-- footer -->
{{> footer }}