<footer class="footer-area section-gap">
    <div class="container">

        <div class="row">

            <div class="col-lg-5 col-md-6 col-sm-6">

                <div class="single-footer-widget">

                    <h6>About Us</h6>

                    <p>
                        YorubaWord.com is a multimedia dictionary project of the Yoruba Names Project. It will be the
                        first free, open, crowdsourced, multimedia, and monolingual lexical dictionary of Yorùbá
                        language on the internet, aimed at helping to better document the language for the use of
                        learners, students, and native speakers across the world, but also to improve the presence of
                        Yorùbá on the internet generally as a way to help it survive into the next century
                        <a href="/about-us">...</a>
                    </p>

                    <p class="footer-text">Copyright ©
                        <script>document.write(new Date().getFullYear());</script>
                        .
                        All rights reserved YorubaWords
                    </p>

                </div>

            </div>

            <div class="col-lg-5  col-md-6 col-sm-6">

                <div class="single-footer-widget">

                    <h6>Newsletter</h6>

                    <p>Stay update with our latest</p>

                    <div class="" id="mc_embed_signup">

                        <form action="//YorubaName.us10.list-manage.com/subscribe/post?u=447ae670439b332a80e50107c&amp;id=0cfdd9d988" target="_blank" method="post" class="form-inline">

                            <div class="d-flex flex-row">

                                <input class="form-control" name="EMAIL" placeholder="Enter Email"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                                       required="" type="email">

                                <button class="click-btn btn btn-default">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </button>

                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a"
                                           tabindex="-1" value="" type="text">
                                </div>

                            </div>

                            <div class="info"></div>

                        </form>

                    </div>

                </div>

            </div>

            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">

                <div class="single-footer-widget">

                    <h6>Follow Us</h6>

                    <p>We are social</p>

                    <div class="footer-social d-flex align-items-center">
                        <a href="https://facebook.com/YorubaNames"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/YorubaNames"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>

                </div>

            </div>

        </div>

    </div>
</footer>
<!-- /body -->

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{{> scriptIncludes }}
</body>
</html>