<div class="input-group">
    <input type="text" class="form-control" id="miniKeyboard" word="word" placeholder="{{message "lang.submitname.enternameplch"}}" value="{{missingName}}" required="true">
</div>