<div class=" col-lg-4 col-xl-3 popo-bg-p">

    <p class="popotext-p">{{message "lang.most-popular"}}</p>

    <ul class="popo-wd-p" id="side_popular">

        {{#each mostPopular}}
            <li><a href="/entries/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>

</div>
