<section id="searchform">

    <div class="jumbotron" id="home-banner">

        <div class="container">

            <div class="row">

                <div class="col-md-2"></div>

                <div class="col-md-8">

                    <div class="search-background-p">

                        {{> searchcomponent }}

                    </div>

                    {{> donate }}

                </div>

                <div class="col-md-2"></div>

            </div>

        </div>

    </div>

</section>
<!-- end search section-->