<section id="searchform">

    <div class="jumbotron" id="home-banner">

        <div class="container">

            <div class="row">

                <div class="col-md-2"></div>

                <div class="col-md-8">

                    <div class="search-background-p">

                        {{> searchcomponent }}

                    </div>

                    <a href="#" style="width: 40%;">
                        <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif">
                    </a>

                </div>

                <div class="col-md-2"></div>

            </div>

        </div>

    </div>

</section>

<!-- end search section-->